
html.taxcalc body{
	background-color: #339D8B;
}

html.financequote body{
	background-color: #F79450;
}

h1{
	font-family: helvetica, arial, sans-serif;
	font-size: 50px;
	margin: 10px 0;
}



